
<div class="form mt-5">
<h1> Add a new recipe </h1>

<%= simple_form_for [@category, @bookmark] do |f| %>
<%= f.association :recipe %>
<%= f.input :comment %>
<%= f.submit class: "btn btn-warning"  %>
<% end %>

</div>
