.banner {
  background-color: red;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  h1,h3{
    color:white;
    text-align: center;
  }
}
