<h1> <%= @category.name %></h1>
<ul>
 <% @category.bookmarks.each do |bookmark| %>
 <li>
    <%= bookmark.recipe.name %>
    <%= link_to "Delete", bookmark_path(bookmark),
    data: {turbo_method: :delete,
    turbo_confirm: "Are you sure?"} %>
  </li>
  <% end %>
</ul>
